/*
 * Top level DTS file for CVM:P3668-0001 and CVB:P3509-0000.
 *
 * Copyright (c) 2019-2020, NVIDIA CORPORATION.  All rights reserved.
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation; version 2 of the License.
 *
 * This program is distributed in the hope that it will be useful, but WITHOUT
 * ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
 * FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License for
 * more details.
 */

/dts-v1/;
#include "common/tegra194-p3668-ai-blox-common.dtsi"
#include "common/tegra194-p3509-0000-a00.dtsi"
#include "common/tegra194-mx1030-1-gpio.dtsi"

/* EDID contents
 * 	Section "Monitor"
 * 			Identifier "AI-BLOX DISP"
 * 			ModelName "AI-BLOX DISP"
 * 			VendorName "AIB"
 * 			# Monitor Manufactured week 22 of 2019
 * 			# EDID version 1.3
 * 			# Digital Display
 * 			DisplaySize 530 300
 * 			Gamma 2.20
 * 			Option "DPMS" "true"
 * 			Horizsync 30-90
 * 			VertRefresh 30-75
 * 			# Maximum pixel clock is 250MHz
 * 	
 * 			#Extension block found. Parsing...
 * 			Modeline        "Mode 3" 37.12 1280 1390 1430 1650 720 725 730 750 +hsync +vsync
 * 			Modeline        "Mode 0" 37.12 1280 1390 1430 1650 720 725 730 750 +hsync +vsync
 * 			Modeline        "Mode 1" 148.500 1920 2008 2052 2200 1080 1084 1089 1125 +hsync +vsync
 * 			Modeline        "Mode 2" 74.250 1280 1390 1420 1650 720 725 730 750 +hsync +vsync
 * 			Modeline        "Mode 4" 74.25 1280 1390 1430 1650 720 725 730 750 +hsync +vsync
 * 			Modeline        "Mode 5" 74.25 1920 2008 2052 2200 1080 1084 1089 1125 +hsync +vsync
 * 			Modeline        "Mode 6" 148.50 1920 2008 2052 2200 1080 1084 1089 1125 +hsync +vsync
 * 			Option "PreferredMode" "Mode 3"
 * 	EndSection
 */
#define EDID_HDMI_AND_VISY \
[00 ff ff ff ff ff ff 00  05 22 a1 24 01 01 01 01 \
 16 1d 01 03 80 35 1e 78  ea 0e f5 a5 55 50 9e 26 \
 10 50 54 00 00 00 01 01  01 01 01 01 01 01 01 01 \
 01 01 01 01 01 01 80 0e  00 72 51 d0 1e 20 6e 28 \
 55 00 13 2b 21 00 00 1e  00 00 00 fd 00 1e 4b 1e \
 5a 19 00 0a 20 20 20 20  20 20 00 00 00 fc 00 41 \
 49 2d 42 4c 4f 58 20 44  49 53 50 0a 00 00 00 ff \
 00 41 49 42 32 30 32 34  30 39 32 35 0a 20 01 7d \
 02 03 16 f1 42 90 04 65  03 0c 00 10 00 68 1a 00 \
 00 01 01 28 4b e6 80 0e  00 72 51 d0 1e 20 6e 28 \
 55 00 13 2b 21 00 00 1e  01 1d 00 72 51 d0 1e 20 \
 6e 28 55 00 13 2b 21 00  00 1e 01 1d 80 18 71 38 \
 2d 40 58 2c 45 00 13 2b  21 00 00 1e 02 3a 80 18 \
 71 38 2d 40 58 2c 45 00  13 2b 21 00 00 1e 00 00 \
 00 00 00 00 00 00 00 00  00 00 00 00 00 00 00 00 \
 00 00 00 00 00 00 00 00  00 00 00 00 00 00 00 5d]

&head0 {
    status = "disabled";
};

&sor1 {
    status = "disabled";
};

&sor1_hdmi_display {
    status = "disabled";
};

&head1 {
	status = "okay";
	nvidia,dc-connector = <&sor0>;
	nvidia,dc-flags = <TEGRA_DC_FLAG_ENABLED>;
};

&sor0 {
	status = "okay";
	nvidia,active-panel = <&sor0_hdmi_display>;
};

&sor0_hdmi_display {
	status = "okay";
	// nvidia,edid = EDID_HDMI_AND_VISY;
	display-timings {
		1280x720-32-30Hz-37125000 {
			clock-frequency = <37125000>;
			hactive = <1280>;
			vactive = <720>;
			hfront-porch = <110>;
			hback-porch = <220>;
			hsync-len = <40>;
			vfront-porch = <5>;
			vback-porch = <20>;
			vsync-len = <5>;
			nvidia,h-ref-to-sync = <1>;
			nvidia,v-ref-to-sync = <1>;
		};
		1280x720-32-29_9Hz {
			clock-frequency = <35250000>;
			hactive = <1280>;
			vactive = <720>;
			hfront-porch = <40>;
			hback-porch = <160>;
			hsync-len = <120>;
			vfront-porch = <3>;
			vback-porch = <8>;
			vsync-len = <5>;
			nvidia,h-ref-to-sync = <1>;
			nvidia,v-ref-to-sync = <1>;
		};
		1280x720-32-60Hz {
			clock-frequency = <74250000>;
			hactive = <1280>;
			vactive = <720>;
			hfront-porch = <110>;
			hback-porch = <220>;
			hsync-len = <40>;
			vfront-porch = <5>;
			vback-porch = <20>;
			vsync-len = <5>;
			nvidia,h-ref-to-sync = <1>;
			nvidia,v-ref-to-sync = <1>;
		};
		1920x1080-32-30Hz {
			clock-frequency = <74250000>;
			hactive = <1920>;
			vactive = <1080>;
			hfront-porch = <88>;
			hback-porch = <148>;
			hsync-len = <44>;
			vfront-porch = <4>;
			vback-porch = <36>;
			vsync-len = <5>;
			nvidia,h-ref-to-sync = <1>;
			nvidia,v-ref-to-sync = <1>;
		};
	};
	disp-default-out {
		nvidia,out-flags = <TEGRA_DC_OUT_HOTPLUG_LOW>;
		nvidia,out-parent-clk = "plld2";
	};
};

/ {
	nvidia,dtsfilename = __FILE__;
	nvidia,dtbbuildtime = __DATE__, __TIME__;

	compatible = "nvidia,p3449-0000+p3668-0000", "nvidia,p3449-0000+p3668-0001", "nvidia,p3509-0000+p3668-0000", "nvidia,p3509-0000+p3668-0001", "nvidia,tegra194";

    thermal-fan-est {
        status = "disabled";
    };

    tachometer@39c0000 {
        status = "disbaled";
    };
};

&hdr40_i2c1 {
	tp2912@44 {
		compatible = "tp2912";
		reg = <0x44>;

		fhd-gpio = <&tegra_main_gpio TEGRA194_MAIN_GPIO(Q, 1) GPIO_ACTIVE_HIGH>;

		#address-cells = <1>;
		#size-cells = <0>;

		port@0 {
			reg = <0>;
			tp2912_in: endpoint {
				remote-endpoint = <&adv7611_out>;
			};
		};

		port@1 {
			reg = <1>;
		};
	};

	adv7611@4c {
		compatible = "adi,adv7611";
		reg = <0x4c>;

		reset-gpios = <&tegra_main_gpio TEGRA194_MAIN_GPIO(Q, 3) GPIO_ACTIVE_LOW>;
		DdcCecHpd-gpios = <&tegra_main_gpio TEGRA194_MAIN_GPIO(S, 4) GPIO_ACTIVE_HIGH>;

		#address-cells = <1>;
		#size-cells = <0>;

		port@0 {
			reg = <0>;
		};

		port@1 {
			reg = <1>;
			adv7611_out: endpoint {
				remote-endpoint = <&tp2912_in>;
				default-input = <0>;
				// edid = EDID_HDMI_AND_VISY;
			};
		};
	};
};